:root {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #212529;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

a {
  color: #000;
  text-decoration: none;
  display: flex;
  font-size: 16px;
}


nav img {
  height: 24px;
}

.footer-partners {
  background-color: #0a596e;
  padding: 24px 32px;
}
